<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lab 1: Cloud</title>
</head>
<body>
<h3></h3> 
<br/>
<form action="/cats" method="POST">
  <input type="text" placeholder="spam text here" name="name">
  <input type="text" placeholder="spam here" name="cat_qual">
  <button type="submit">Spam</button>

  <ul class="cats">
    <% for(var i=0; i<cats.length; i++) {%>
      <li class="cat">
        <span><%= cats[i].name %>:</span>
        <span><%= cats[i].cat_qual %></span>
      </li>
    <% } %>
    </ul>

    </ul>
  </form>
</body>
</html>